@charset "UTF-8";

/*
Placement des éléments du footer. On donne aussi les styles pour le contenu du footer.
 */

footer {
    background-image: url("https://monboulangerlivreur.fr/public/imgs/fbackground.png");
    background-size: cover;
    box-shadow: 0 0 30px 2px #808080;
    margin-top: 5vw;
    height: 10vw;
    padding: 1vw 0px 1vw 0px;
    font-family: worksans;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer a {
    color: grey;
}

footer a:hover {
    color: lightgrey;
}

footer h4 {
    font-size: 1.4vw;
}

/*
Classes pour le placement du texte dans les cases du footer.
 */

.aligner {
    width: 33.33%;
    float: left;
    text-align: center;
}

.aligned {
    display: inline-block;
    text-align: left;
}

/*
ID pour le style et le positionnement du copyright.
 */

#copyright {
    position: absolute;
    text-align: center;
    bottom: 1vw;
    width: 75%;
    left: 12.5%;
    font-weight: normal;
}

/*
On définit les fléches pour le responsive du footer comme non affichées.
 */

#rightarrow {
    display: none;
}

#leftarrow {
    display: none;
}

@media screen and (max-width: 1280px) {
    footer {
        height: 20vw;
    }

    footer h4 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 699px) {
    footer {
        height: 35vw;
        margin-top: 10vw;
        padding-top: 2vw;
        position: relative;
        overflow: hidden;
    }

    footer h4 {
        font-size: 4vw;
    }

    footer li {
        margin-top: 1vw;
        font-size: 3.5vw;
    }

    .aligner {
        margin-left: 1.5vw;
        width: 50%;
        position: absolute;
        transition: left .3s ease;
    }

    /*
    On place les trois boites du footer pour le mode responsive.
     */
    #aligner1 {
        left: 25%;
    }

    #aligner2 {
        left: 125%;
    }

    #aligner3 {
        left: 225%;
    }

    /*
    On affiche et on positionne les fléches de footer responsive.
     */
    #rightarrow {
        display: block;
        position: absolute;
        right: 10%;
        width: 10%;
        bottom: 45%;
    }

    #leftarrow {
        display: none;
        position: absolute;
        left: 10%;
        width: 10%;
        bottom: 45%;
    }
}

@media screen and (max-width: 429px) {
    footer li {
        font-size: 4vw;
    }
}