@charset "UTF-8";

/*
Style et positionnement pour les articles et les titres d'articles. Ainsi que les ul dans les articles.
 */

article {
    width: 60%;
    margin: 3vw auto 0px auto;
    clear: both;
}

article .title {
    background-color: #FAF1B9;
    height: 4vw;
    line-height: 4vw;
    text-align: center;
    border-radius: 30px;
    font-family: worksans;
    font-size: 2vw;
    box-shadow: 0 0 15px 0.5px #808080;
}

article .title img {
    float: left;
    width: 4vw;
}

article ul {
    font-family: worksans;
    padding: 2vw 10px 10px 8vw;
    font-size: 1.2vw;
}

/*
Style et positionnement pour les signform (formulaire) dans les articles. Avec mise en page des éléments select2. Et liens de 'dessous'.
 */

article .signform {
    background: linear-gradient(to top right, #FAF1B9, #FFC700);
    text-align: center;
    width: 75%;
    margin: 4vw auto 0px auto;
    padding: 1vw 0px 1vw 0px;
    box-shadow: 0 0 4px 1px #808080;
}

article .signform input {
    background-color: transparent;
    border: none;
    font-size: 2vw;
    margin-top: 3vw;
    border-bottom: white solid 0.2vw;
    color: black;
}

article .signform select {
    width: 60%;
}

article .signform .select2 {
    margin-top: 3vw;
    margin-bottom: 2vw;
}

article .signform a {
    display: block;
    text-decoration: underline;
    margin-top: 1.5vw;
    text-align: left;
    margin-left: 2vw;
    margin-right: auto;
}

article .signform a:hover {
    font-weight: bold;
}

.bottomlink {
    display: block;
    text-decoration: underline;
    margin-top: 1.5vw;
    text-align: left;
    margin-left: 2vw;
    margin-right: auto;
}

/*
Style et positionnement pour articles spéciaux. (Seul ou premier).
 */

#firstarticle {
    margin-top: 5vw;
}

#oncearticle {
    margin-top: 8vw;
}

/*
Style de base des paragraphes, surtout utilisé dans l'affichage des informations personnelles.
 */

p {
    margin-top: 2vw;
    text-align: center;
    font-family: worksans;
    font-size: 1.5vw;
}

p a {
    background-color: #FAF1B9;
    border-radius: 300px;
    padding: 20px;
    line-height: 10vw;
}

/*
Style pour les 'Jumbotron' notamment pour effectuer de la notification.
 */

.errorpanel {
    background-color: red;
    border-radius: 10px;
    margin: 2vw auto auto auto;
    padding: 1vw 1vw 1vw 1vw;
    width: 60%;
    font-family: worksans;
}

.infopanel {
    background-color: lightgrey;
    border-radius: 10px;
    margin: 2vw auto auto auto;
    padding: 1vw 1vw 1vw 1vw;
    width: 60%;
    font-family: worksans;
}

.yespanel {
    background-color: lightgreen;
    border-radius: 10px;
    margin: 2vw auto auto auto;
    padding: 1vw 1vw 1vw 1vw;
    width: 60%;
    font-family: worksans;
}

/*
Petits ajustements pour les images qui dépasse du cadre.
 */

#wallet {
    position: relative;
    bottom: 0.4vw;
}

#pay {
    position: relative;
    bottom: 0.25vw;
}

/*
Bouton de commencement de la page principale.
 */

#beginbutton {
    text-align: center;
    background-color: #FFC700;
    font-family: worksans;
    font-size: 2vw;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #808080;
}

#beginbutton a:hover {
    color: white;
}

/*
Style pour le submit des formulaires.
 */

#submit:hover {
    color: white;
}

/*
Style et positionnement pourles tableaux.
 */

table {
    width: 80%;
    margin: 2vw auto auto auto;
    text-align: center;
}

thead {
    background-color: #FFC700;
}

tbody {
    background-color: #FAF1B9;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: worksans;
    font-weight: normal;
}

td, th {
    padding: 5px 5px 5px 5px;
}

/*
Style pour les données personnels. Alignement centre gauche.
 */

.tounderline {
    text-decoration: underline;
}

.toalign {
    text-align: center;
    width: 80%;
    margin: auto;
}

.tobealigned {
    text-align: left;
}

/*
Style pour le solde.
 */

#money {
    font-size: 4vw;
    color: #FFC700;
}

/*
Style et positionnement pour la cellule d'ajout dans les tableaux (ex: Ajouter un produit).
 */

#addcell {
    padding: 10px 10px 10px 10px;
}

article #addcell .select2 {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

article #addcell .productselect {
    width: 50%;
}

/*
Idem pour le bouton d'ajout.
 */

#addbutton {
    color: blue;
}

#addbutton:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*
Style bouton de submit des ajouts.
 */

#addsubmit {
    border: none;
    background-color: transparent;
    font-family: worksans;
    color: blue;
}

#addsubmit:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*
Style bouton de modification. (ex: modifier, dans le tableau des produits).
 */

.editbutton {
    border: none;
    background-color: transparent;
    font-family: worksans;
    color: blue;
}

.editbutton:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {

    /*
    Régles responsive de base pour les articles. Et titre et etc.
     */
    article {
        width: 80%;
        margin-top: 7vw;
    }

    article .title {
        height: 5vw;
        line-height: 5vw;
        font-size: 2.5vw;
    }

    article .title img {
        width: 5vw;
    }

    article ul {
        font-size: 2vw;
        padding: 4vw 0px 0px 8vw;
    }

    /*
    Régles pour les signform de base en responsive.
     */
    article .signform {
        margin-top: 4vw;
    }

    article .signform input {
        font-size: 3vw;
    }

    article .signform select {
        width: 70%;
    }

    article .signform .select2 {
        margin-top: 3vw;
        margin-bottom: 2vw;
    }

    /*
    Paragraphes et liens en paragraphe, reponsive.
     */
    p {
        font-size: 2vw;
    }

    p a {
        padding: 10px;
        line-height: 10vw;
    }

    /*
    Amélioration des petits ajustements pour les images hors cadre.
     */
    #pay {
        bottom: 0.3vw;
    }

    /*
    On augmente la taille du solde !
     */
    #money {
        font-size: 6vw;
    }

    /*
    Pour les articles seuls ou en premier on augmente la marge.
     */
    #oncearticle {
        margin-top: 15vw;
    }

    #firstarticle {
        margin-top: 8vw;
    }

    /*
    Idem pour le gros bouton.
     */
    #beginbutton {
        width: 40%;
        font-size: 3vw;
    }

    /*
    On améliore aussi le traitement des tableaux.
     */
    table {
        margin-top: 4vw;
    }

    .tablecontain {
        overflow: scroll;
    }

    /*
    Augmentation de la taille des textes dans la nav spécial administrateur.
     */
    #secondnav {
        font-size: 3vw;
    }
}

@media screen and (max-width: 699px) {

    /*
    La section est organisé de la même manière que la précédente.
     */
    article {
        width: 90%;
    }

    article .title {
        height: 8vw;
        line-height: 8vw;
        font-size: 3.5vw;
    }

    article .title img {
        width: 8vw;
    }

    article ul {
        font-size: 2.9vw;
    }

    article .signform {
        margin-top: 6vw;
        font-size: 3vw;
    }

    article .signform input {
        font-size: 4vw;
        margin-top: 4vw;
    }

    article .signform a {
        margin-left: 2vw;
    }

    article .signform select {
        width: 80%;
    }

    article .signform .select2 {
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    #pay {
        bottom: 0.5vw;
    }

    #wallet {
        bottom: 0.6vw;
    }

    #money {
        font-size: 7vw;
    }

    p {
        font-size: 3vw;
        margin-top: 6vw;
    }

    p a {
        padding: 5px;
    }

    #oncearticle {
        margin-top: 18vw;
    }

    table {
        margin-top: 6vw;
    }

    /*
    Ajout de style pour les panels. On augmente les marges.
     */
    .errorpanel {
        margin-top: 5vw;
    }

    .infopanel {
        margin-top: 5vw;
    }

    .yespanel {
        margin-top: 5vw;
    }

    #beginbutton {
        font-size: 4vw;
        width: 55%;
    }

    #secondnav {
        font-size: 4vw;
    }
}

@media screen and (max-width: 429px) {

    /*
    Structure similaire pour cette section de même.
     */
    article {
        width: 90%;
    }

    article ul {
        font-size: 3.2vw;
    }

    article .signform {
        width: 90%;
        font-size: 4vw;
    }

    article .signform input {
        font-size: 5vw;
        margin-top: 6vw;
    }

    article .signform a {
        margin-top: 3vw;
    }

    article .signform select {
        width: 90%;
    }

    #beginbutton {
        font-size: 5vw;
        width: 75%;
    }

    p {
        font-size: 3.8vw;
    }
}